action="telegram"
binding="zwave,yahooweather,network,souliss1,mqtt1"
felix.fileinstall.filename="file:/var/lib/openhab2/etc/org.openhab.addons.cfg"
legacy="true"
misc="openhabcloud"
package="standard"
persistence=",rrd4j"
remote="true"
service.pid="org.openhab.addons"
transformation="exec,map"
ui="basic,paper,habpanel,habmin,classic,cometvisu,cometvisu-php"
