IP_LAN="192.168.178.69"
NODE_INDEX="3"
REFRESH_DBSTRUCT_TIME="600000"
REFRESH_HEALTY_TIME="60000"
REFRESH_MONITOR_TIME="500"
REFRESH_SUBSCRIPTION_TIME="120000"
SECURE_SEND_TIMEOUT_TO_REMOVE_PACKET="30000"
SECURE_SEND_TIMEOUT_TO_REQUEUE="5000"
SEND_DELAY="1500"
SEND_MIN_DELAY="100"
USER_INDEX="72"
service.pid="org.openhab.souliss"
