com.eclipsesource.jaxrs.connector="mvn:com.eclipsesource.jaxrs/publisher/5.3.1"
org.apache.felix.eventadmin.impl.EventAdmin="mvn:org.apache.karaf.services/org.apache.karaf.services.eventadmin/4.0.8"
org.apache.felix.fileinstall.85114c2d-8fd3-4658-a2ba-0ee21a3d0f32="mvn:org.apache.felix/org.apache.felix.fileinstall/3.5.6"
org.apache.karaf.features.repos="mvn:org.apache.karaf.features/org.apache.karaf.features.core/4.0.8"
org.apache.karaf.jaas="mvn:org.apache.karaf.jaas/org.apache.karaf.jaas.modules/4.0.8"
org.apache.karaf.kar="mvn:org.apache.karaf.kar/org.apache.karaf.kar.core/4.0.8"
org.apache.karaf.log="mvn:org.apache.karaf.log/org.apache.karaf.log.core/4.0.8"
org.apache.karaf.shell="mvn:org.apache.karaf.shell/org.apache.karaf.shell.ssh/4.0.8"
org.eclipse.smarthome.folder="mvn:org.eclipse.smarthome.model/org.eclipse.smarthome.model.core/0.9.0-SNAPSHOT"
org.openhab.dashboard="mvn:org.openhab.core/org.openhab.ui.dashboard/2.1.0-SNAPSHOT"
org.openhab.mqtt="mvn:org.openhab.io/org.openhab.io.transport.mqtt/1.10.0-SNAPSHOT"
org.openhab.souliss="mvn:org.openhab.binding/org.openhab.binding.souliss/1.10.0-SNAPSHOT"
org.openhab.telegram="mvn:org.openhab.action/org.openhab.action.telegram/1.10.0-SNAPSHOT"
org.ops4j.pax.logging="mvn:org.ops4j.pax.logging/pax-logging-service/1.8.5"
org.ops4j.pax.url.mvn="mvn:org.ops4j.pax.url/pax-url-aether/2.5.2"
org.ops4j.pax.web="mvn:org.ops4j.pax.web/pax-web-runtime/4.3.0"
