felix.fileinstall.active.level="80"
felix.fileinstall.dir="/usr/share/openhab2/addons"
felix.fileinstall.filename="file:/var/lib/openhab2/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="1000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="/var/lib/openhab2/tmp/bundles"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.85114c2d-8fd3-4658-a2ba-0ee21a3d0f32"
